.teachertable #assignedcell,
.teachertable #unassignedcell,
.studenttable #assignedcell,
.studenttable #unassignedcell {
    width: 42%;
}

.teachertable #buttonscell,
.studenttable #buttonscell {
    width: 16%;
}

.teachertable td,
.studenttable td {
    vertical-align: top;
    padding: .2em .3em;
}

.teachertable tr,
.studenttable tr {
    background-color: rgba(0,0,0,.05);
}

.teachertable p,
.studenttable p {
    margin: .2em 0;
}

.card-body h4 {
    margin-bottom: 1.25rem;
}

.doc-title {
    font-weight: 600;
    font-size: 1.25rem;
}

.projgradetable label {
    padding-left: 5px;
}

@supports (-webkit-touch-callout: none) {
    #addcontrols {
        margin-top: 0.2em;
        margin-bottom: 2.6em;
    }
}